* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: sans-serif;
}

input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

body {
  width: 100%;
  margin: 0;

  .container {
    max-width: 300px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  header {
    background-color: #fcdb00;

    .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      &-logo {
        display: flex;
        font-weight: bold;
        height: 130px;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #000000;
          img {
            width: 43px;
            margin-right: 10px;
          }
          span {
            font-size: 20px;
          }
        }
      }
      &-links {
        width: 160px;
        display: flex;
        justify-content: space-between;
        span {
          a {
            color: #000000;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  main {
    .banner {
      background-color: #fcdb00;

      &-content {
        padding-bottom: 20px;
        line-height: 16px;
        &-text {
          &-title {
            font-size: 20px;
            font-weight: 800;
            padding-top: 65px;
            margin-bottom: 15px;
          }
          &-subtitle {
            font-size: 15px;
            margin-bottom: 15px;
            line-height: 20px;
          }
          &-speech {
            font-size: 12px;
            margin-bottom: 15px;
          }
          &-icon {
            margin-bottom: 100px;
            display: flex;
            justify-content: space-evenly;

            img {
              width: 35px;
              margin-right: 15px;
            }
          }
        }
        &-image {
          display: none;
        }
      }
    }
    .features {
      background-color: #ffffff;
      margin-top: 50px;
      &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
          font-size: 20px;
          font-weight: 800;
          margin-bottom: 15px;
        }
        &-speech {
          font-size: 15px;
        }
      }
      &-content {
        margin: 50px 0;
        &-box {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 60px;
          }
          .features-box-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            &-title {
              font-size: 18px;
              font-weight: 600;
              margin-bottom: 20px;
            }
            &-speech {
              color: #9a9a9a;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
  footer {
    background-color: #000000;
    color: #ffffff;
    padding: 50px 0;

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 135px;
      &-title {
        color: #fcdb00;
        font-weight: 700;
        margin-bottom: 20px;
      }
      span {
        color: #898989;
        margin-bottom: 45px;
      }
      &-submit {
        display: flex;
        justify-content: space-between;

        width: 100%;

        &-info {
          display: flex;
          flex-direction: column;
          input {
            height: 60px;
            width: 190px;
            margin-right: 5px;
            padding: 0 10px;
            border: 0;
            border-radius: 5px;
          }

          span {
            margin-top: 5px;
            color: #d7182a;
            font-size: 12px;
          }
        }
        button {
          width: 100px;
          height: 60px;
          text-transform: uppercase;
          font-weight: 700;
          background-color: #fcdb00;
          border: 0;
          border-radius: 5px;
        }
      }

      &-sent {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          color: #fcdb00;
        }

        span {
          width: 300px;
          color: #898989;
          font-size: 16px;
          margin: 0 auto;
          padding: 20px 20px;
        }
      }

      &-social {
        width: 240px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
      }
    }

    .footer {
      &-address {
        margin: 20px auto;
        width: 190px;
        line-height: 20px;

        a {
          color: #ffffff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 30px;

        a {
          color: #ffffff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  body {
    .container {
      max-width: 500px;
    }
    main {
      .banner {
        background-color: #fcdb00;

        &-content {
          padding-bottom: 20px;
          line-height: 16px;
          &-text {
            &-icon {
              margin-top: 30px;

              display: flex;
              justify-content: flex-start;

              img {
                margin-right: 55px;
              }
            }
          }
        }
      }

      .features {
        &-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          &-box {
            display: flex;
            flex-direction: row;
            align-items: end;
            img {
              margin-right: 5px;
            }

            .features-box-description {
              align-items: flex-start;
              margin-top: 8px;
            }
          }
        }
      }
    }

    footer {
      .contact {
        &-submit {
          input {
            width: 410px;
          }
          button {
            width: 130px;
          }
        }
      }

      .footer {
        display: flex;
        justify-content: space-between;

        &-address {
          margin: 0;
        }

        ul {
          line-height: 20px;
          align-items: flex-start;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    .container {
      max-width: 650px;
    }

    header {
      .header {
        &-logo {
          a {
            span {
              font-size: 32px;
            }
          }
        }
        &-links {
          width: 300px;
          a {
            font-size: 22px;
          }
        }
      }
    }

    main {
      .banner {
        &-content {
          &-text {
            &-title {
              font-size: 28px;
              line-height: 40px;
            }
            &-subtitle {
              font-size: 20px;
            }
            &-speech {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
      .features {
        &-text {
          max-width: 710px;
          margin: 0 auto;
          &-title {
            font-size: 32px;
          }
          &-speech {
            font-size: 20px;
          }
        }

        &-content {
          &-box {
            .features-box-description {
              &-title {
                font-size: 22px;
              }
              &-speech {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    footer {
      .contact {
        &-title {
          font-size: 32px;
        }
        span {
          font-size: 20px;
        }
        &-submit {
          input {
            width: 580px;
            font-size: 16px;
          }
          button {
            font-size: 16px;
          }
        }

        &-sent {
          h3 {
            font-size: 32px;
          }

          span {
            width: 500px;
          }
        }
      }

      .footer {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 769px) {
  body {
    .container {
      max-width: 700px;
    }
    main {
      .banner {
        &-content {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-text {
            width: 382px;

            &-subtitle {
              line-height: 25px;
            }
          }
          &-image {
            display: block;
          }
        }
      }
    }
    footer {
      .contact {
        max-width: 740px;
      }
    }
  }
}

@media (min-width: 900px) {
  body {
    .container {
      max-width: 800px;
    }

    main {
      .banner {
        &-content {
          &-text {
            width: 407px;
            &-title {
              font-size: 32px;
            }
          }
        }
      }
      .features {
        &-content {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    .container {
      max-width: 900px;
    }

    main {
      .banner {
        &-content {
          &-text {
            width: 415px;
            &-title {
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}
